fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
redis==5.0.8
pydantic==2.8.2
pydantic-settings==2.4.0
celery[rabbitmq]==5.4.0
pika==1.3.2
python-dotenv==1.0.1
querymind-shared @ file:../querymind-shared
